.incorrect-avatar {
}

.incorrect-avatar__head {
  transform-origin: center center;
}

.incorrect-avatar__head__glasses {
  line,
  circle {
    animation: anxious-glasses 1s forwards;
  }
}
@keyframes anxious-glasses {
  0% {
    stroke: $grey;
  }

  100% {
    stroke: $red;
  }
}

.incorrect-avatar__head__sweat {
  animation-delay: 0.5s;
  animation: sweat-drop 1s forwards;
}

@keyframes sweat-drop {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}

.incorrect-avatar__head__pony-tail,
.incorrect-avatar__head__scalp {
  animation: anxious-hair-color 1s forwards;
  animation-delay: 0.5s;

  @keyframes anxious-hair-color {
    0% {
      fill: $tertiary;
    }

    100% {
      fill: $red;
    }
  }
}

.incorrect-avatar__head__pom-pom {
  animation: anxious-pom-pom 1s forwards;
  animation-delay: 0.5s;
}
@keyframes anxious-pom-pom {
  0% {
    fill: $red;
  }

  100% {
    fill: $red;
  }
}

.correct-avatar__head {
  transform-origin: center center;
  animation: correctBob 3s ease-in-out;
}

@keyframes correctBob {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(10deg);
  }

  66% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }
}

.correct-avatar__head__pony-tail,
.correct-avatar__head__scalp {
  animation: correct-color 1s forwards;
  animation-delay: 0.5s;

  @keyframes correct-color {
    0% {
      fill: $tertiary;
    }

    100% {
      fill: $success;
    }
  }
}


.correct-avatar__head__pom-pom {
  animation: correct-pom-pom 1s forwards;
  animation-delay: 0.5s;
}
@keyframes correct-pom-pom {
  0% {
    fill: $primary;
  }

  100% {
    fill: $success;
  }
}