$input-height: 45px;

.ss-radio-button {
  display: flex;
  flex-flow: row nowrap;
  color: $tertiary;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
  cursor: pointer;
  height: $input-height;
  margin-bottom: 10px;

  .ss-radio-button__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .ss-radio-button__border {
    border: 2px solid $tertiary;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .ss-radio-button__text {
    align-self: center;
    position: relative;
    z-index: 99;
  }

  .ss-radio-button__circle {
    border: 2px solid $secondary;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99;
  }

  .ss-radio-button__circle__inner {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    align-self: center;
  }

  input {
    display: none;
  }

  input[type="radio"]:checked ~ .ss-radio-button__text {
    color: $white;
    transition: 0.2s ease-in-out;
  }
  input[type="radio"]:checked ~ .ss-radio-button__background {
    background-color: $tertiary;
    transition: 0.2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  input[type="radio"]:checked ~ .ss-radio-button__circle {
    .ss-radio-button__circle__inner {
      background-color: $secondary;
      transition: 0.2s ease-in-out;
    }
  }
}

.ss-radio-button--error {
  border-color: $error;
  @extend .ss-radio-button;
  input[type="radio"]:checked ~ .ss-radio-button__background {
    background-color: $error;
  }
  input[type="radio"]:checked ~ .ss-radio-button__circle {
    border-color: $white;
    .ss-radio-button__circle__inner {
      background-color: $white;
    }
  }

  .ss-radio-button__border,
  .ss-radio-button__circle {
    border: 2px solid $error;
  }
}

.ss-radio-button--success {
  border-color: $success;
  @extend .ss-radio-button;
  input[type="radio"]:checked ~ .ss-radio-button__background {
    background-color: $success;
  }
  input[type="radio"]:checked ~ .ss-radio-button__circle {
    border-color: $success;
    .ss-radio-button__circle__inner {
      background-color: $success;
    }
  }

  .ss-radio-button__border,
  .ss-radio-button__circle {
    border: 2px solid $success;
  }
}
